body {
  background-color: rgb(107, 107, 107);
  margin: 0px;
}

hr {
  border: 0;
  border-top: 3px solid rgb(0, 0, 0);
  height: 0;
}

.b-top {
  height: 72px;
  background-color: rgb(107, 107, 107);
  color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}

.b-top2 {
  align-content: center;
  height: 72px;
  background-color: #ffc970;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  border-color: black;
}

.b-top__title {
  text-align: center;
  font-family: "Spectral SC", serif;
  font-weight: bold;
  font-size: 25px;
  align-self: center;
  float: left;
}
.b-sw {
  font-size: 130px;
}

.b-button {
  border-radius: 15px;
  height: 56px;
  width: 100px;
  font-size: 14px;
  align-content: center;
  background: none;
  border-width: 3px;
  border-style: solid;
  border-color: black;
}

.b-icon {
  font-size: 23px;
}
.b-button__push {
  background-color: #faddae;
}
.b-ships {
  align-content: center;
  margin-top: 79px;
  margin-bottom: 79px;
  border-width: 3px;
  border-style: solid;
}

.b-newDiv {
  font-family: Arial;
  background-color: #ffc970;
  margin: 0px;
  padding: 10px;
  box-shadow: black;
}

.b-newDiv__img {
  width: 255px;
  height: 150px;
  border-color: rgb(0, 0, 0);
  border-width: 3px;
  border-style: solid;
}
.b-newDiv__name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.b-newDiv_class {
  font-size: 16px;
  color: rgb(107, 107, 107);
  text-align: center;
}

.b-newDiv_description {
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-align: left;
}

.b-bottom {
  font-family: Arial;
  letter-spacing: 0.018em;
  color: white;
  font-size: 14px;
  align-content: center;
  height: 280px;
  background-color: #333333;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-bottom__links {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 14px;
}
.b-bottom__copy {
  padding-top: 85px;
}
