@font-face {
  font-family: 'starwars';
  src:  url('fonts/starwars.eot?9wfdc2');
  src:  url('fonts/starwars.eot?9wfdc2#iefix') format('embedded-opentype'),
    url('fonts/starwars.ttf?9wfdc2') format('truetype'),
    url('fonts/starwars.woff?9wfdc2') format('woff'),
    url('fonts/starwars.svg?9wfdc2#starwars') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'starwars' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gallery-layout-svgrepo-com:before {
  content: "\e908";
}
.icon-Galactic-Empire:before {
  content: "\e906";
}
.icon-New-republic:before {
  content: "\e907";
}
.icon-star-wars:before {
  content: "\e905";
}
.icon-starwars:before {
  content: "\e904";
  color: #000;
}
.icon-deathstar:before {
  content: "\e900";
}
.icon-falcon:before {
  content: "\e901";
}
.icon-r2d2:before {
  content: "\e902";
}
.icon-tie:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e9bd";
}
